framework: >= net45
source https://nuget.org/api/v2

nuget FSharp.Core redirects: force

group Build
    source https://nuget.org/api/v2

    nuget FAKE

    github fsharp/FAKE modules/Octokit/Octokit.fsx

group Test
    source https://nuget.org/api/v2

    nuget Expecto < 6.0
    nuget Expecto.FsCheck
    nuget FsCheck
    nuget Unquote
    nuget Expecto.VisualStudio.TestAdapter version_in_path: true
